.about {
  @include baseSectionStyle;
  perspective: 150rem;
  --moz-perspective: 150rem;
  position: relative;
  transition: all .3s cubic-bezier(.17, .67, .83, .67);
  &__flipper {
    display: none;
    visibility: hidden;
    z-index: -1;
  }
  &__flipper:checked~&__skills {
    transform: rotateY(-180deg);
  }
  &__flipper:checked~&__contact {
    transform: rotateY(0);
    opacity: 1;
  }
  &__bio {
    width: 45%;
    text-align: left;
    padding: 1.5rem;
    @media only screen and (max-width: 360px) {
      width: 100%;
      padding: 0 1rem
    }
  }
  &__bio-h3 {
    color: $primary-color-1;
    margin-bottom: 1rem;
  }
  &__bio-h4 {
    color: $primary-color-2;
    margin-bottom: .8rem;
  }
  &__bio-email {
    margin-top: 1rem;
    color: $primary-color-1;
  }
  &__bio-email>span {
    color: $color-grey-dark;
  }
  &__bio-email__icon {
    fill: $color-grey-dark-2;
    height: 1rem;
    width: 1rem;
    transform: translateY(.1rem);
  }
  &__contact-btn {
    margin-top: 1.5rem;
    width: 25%;
    padding: .4rem !important;
    @include bounce;
    @media only screen and (max-width: 664px) {
      width: 35%;
    }
    @media only screen and (max-width: 360px) {
      width: 21%;
    }
  }
  &__socials {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    box-shadow: $btn-hover-box-shadow;
    padding: .3rem;
    @media only screen and (max-width: 360px) {
      width: 40%;
    }
    &-icon {
      padding: 0;
      margin: 0 .5rem;
      border: 0;
      fill: $primary-color-3;
      width: 1.5rem;
      height: 1.5rem;
      transition: all .4s cubic-bezier(.17, .67, .83, .67);
      @media only screen and (max-width: 360px) {
        height: 1rem;
        width: 1rem;
        margin: 0 .2rem;
      }
      &:hover {
        cursor: pointer;
        transform: translateY(-.9rem) translateX(.3rem) scale(1.1);
      }
    }
  }
  &__skills {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    text-align: left;
    padding: .7rem;
    padding-top: 6rem;
    color: $white;
    display: flex;
    flex-direction: column;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden; //transform: rotateY(180deg);
    transition: all .3s cubic-bezier(.17, .67, .83, .67);
    @include respond(tab-land) {
      width: 50%;
    }
    @media only screen and (max-width: 360px) {
      position: relative;
      width: 100%;
      padding-top: 2rem;
    }
  }
  &__skills-h4 {
    position: relative;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    padding: .5rem 0;
    background: linear-gradient(to right bottom, rgba(220, 24, 190, 0.4), rgba(110, 24, 190, 0.5));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 60%;
  }
  &__skills-h4::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background: linear-gradient(to right bottom, rgba(220, 24, 190, 0.4), rgba(110, 24, 190, 0.5));
  }
  &__skills-h4::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background: linear-gradient(to right bottom, rgba(220, 24, 190, 0.4), rgba(110, 24, 190, 0.5));
  }
  &__skills-list {
    margin-top: 1.3%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__skills-icon {
    padding: 0;
    margin: .5rem;
    border: 0;
    height: 5rem;
    width: 5rem;
    transform: translateY(.1rem);
    @include respond(tab-land) {
      height: 4rem;
      width: 4rem;
    }
    @media only screen and (max-width: 800px) {
      height: 3.5rem;
      width: 3.5rem;
    }
    @media only screen and (max-width: 768px) {
      height: 3rem;
      width: 3rem;
    }
    @media only screen and (max-width: 360px) {
      height: 2rem;
      width: 2rem;
    }
  }
  &__contact {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    padding: .7rem .2rem;
    padding-top: 1.5rem;
    color: $white;
    transform: rotateY(180deg);
    opacity: 0;
    background: linear-gradient(to right bottom, $primary-color-3, $primary-color-2); //transform: rotateY(180deg);
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s cubic-bezier(.17, .67, .83, .67);
    @include respond(tab-land) {
      width: 50%;
    }
    @media only screen and (max-width: 360px) {
      position: absolute;
      width: 100%;
      top: 56%;
      height: 50%
    }
  }
  &__contact-h3 {
    position: relative;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    padding: .6rem 0;
    margin: .7rem auto;
    background: linear-gradient(to right bottom, rgba($primary-color-1, 0.8), rgba($primary-color-1, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    @media only screen and (max-width: 360px) {
      padding: .2rem 0;
      margin: .2rem auto;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5%;
      background: linear-gradient(to right bottom, rgba($primary-color-1, 0.8), rgba($primary-color-1, 0.8));
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5%;
      background: linear-gradient(to right bottom, rgba($primary-color-1, 0.8), rgba($primary-color-1, 0.8));
    }
  }
  &__contact-formarea {
    width: 100%;
    height: 100%;
  }
  &__contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__contact-inputarea {
    width: 90%;
    height: 12%;
    margin: .2rem auto;
    @media only screen and (max-width: 360px) {
      height: 13.5%;
    }
    &>label {
      padding-left: .6rem;
      display: block;
      transition: all .2s cubic-bezier(.17, .67, .83, .67);
    }
  }
  &__contact-descriptionarea {
    position: relative;
    width: 90%;
    height: 20%;
    margin: .8rem auto;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 85%;
      background: rgba($white, .5);
    }
    &>label {
      position: absolute;
      top: 85%;
      padding-left: .6rem
    }
  }
  &__contact-btnarea {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__contact-input {
    display: block;
    width: 100%;
    height: 60%;
    padding: .6rem;
    font-family: inherit;
    border-radius: 2px;
    background-color: rgba($white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
    &::placeholder {
      color: $grey;
      transition: all .2s cubic-bezier(.17, .67, .83, .67);
    }
    &:focus {
      outline: none;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-bottom: 3px solid $primary-color-2;
      margin-bottom: .6rem;
      transform: translateY(.5rem);
    }
    &:focus:invalid {
      border-bottom: 3px solid $primary-color-3;
    }
    &:placeholder-shown+.about__contact-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-2rem)
    }
  }
  &__contact-description {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    padding: .6rem;
    font-family: inherit;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
    background: transparent;
    margin-bottom: .3rem;
    resize: none;
    &::placeholder {
      color: $grey
    }
    &:focus {
      outline: none;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-bottom: 3px solid $primary-color-2;
    }
    &:focus:invalid {
      border-bottom: 3px solid $primary-color-3;
    }
  }
  &__form-btn,
  &__form-btn:link,
  &__form-btn:visited {
    width: 20%;
    border: none;
    outline: none;
    padding: .7rem;
    color: $white;
    outline: none;
    border-radius: .2rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    letter-spacing: .1rem;
    background: linear-gradient(to right bottom, $primary-color-1, $primary-color-1);
    box-shadow: $btn-box-shadow;
    transition: $primary-transition;
    @include respond(tab-land) {
      width: 25%;
    }
    @media only screen and (max-width: 360px) {
      width: 20%;
    }
    &:hover {
      cursor: pointer;
      transform: translateY(-.3rem);
      box-shadow: $btn-hover-box-shadow;
      animation: none;
    }
  }
  &__form-return>span {
    display: inline-block;
    animation: shiggie .9s linear 1s infinite;
  }
  &__form-return,
  &__form-return:link,
  &__form-return:visited {
    width: 20%;
    border: none;
    outline: none;
    padding: .7rem;
    color: $white;
    outline: none;
    border-radius: .2rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    letter-spacing: .1rem;
    background: transparent;
    box-shadow: $btn-box-shadow;
    transition: $primary-transition;
    @include respond(tab-land) {
      width: 25%;
    }
    @media only screen and (max-width: 800px) {
      width: 30%
    }
    @media only screen and (max-width: 768px) {
      width: 30%
    }
    @media only screen and (max-width: 360px) {
      width: 20%;
    }
    &:hover {
      cursor: pointer;
      transform: translateY(-.3rem);
      box-shadow: $btn-hover-box-shadow;
      animation: none;
    }
  }
}