.portfolio {
  @include baseSectionStyle;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  text-align: center;
  &__cards-switch {
    visibility: hidden;
    z-index: -1;
    position: absolute;
  }
  &__cards-switch:checked~&__card-test {
    //width: 0;
    //height: 0;
    transform: translateY(-100vh);
    position: absolute;
    margin: 0;
    padding: 0;
  }
  &__header {
    width: 50%;
    align-self: center;
    margin: 1rem;
    color: $primary-color-1;
  }
  &__header-sub {
    width: 42%;
    align-self: center;
    margin-bottom: 1.5rem;
  }
  &__categories {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    margin-bottom: 1.8rem;
    padding: 2rem 2.5rem;
    transform: translateX(-.2rem) translateY(-1rem);
  }
  &__categories-item {
    display: inline-block;
  }
  &__category,
  &__category:link,
  &__category:visited {
    display: inline-block;
    color: rgba($primary-color-3, 0.7);
    background: $white;
    position: relative;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 1px 27px -3px rgba(0, 0, 0, .2);
    padding: .5rem 1rem;
    border-radius: 3rem;
    backface-visibility: hidden;
    transition: $primary-transition;
    margin: .2rem;
    @include clearfix;
    &:hover {
      color: $white;
      background: transparent;
      transform: translateY(-.2rem)
    }
  }
  &__category::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color-3, 0.7);
    border-radius: 3rem;
    z-index: -1;
    transform: scale(0);
    backface-visibility: hidden;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &__category:hover::before {
    content: '';
    position: absolute;
    bottom: 50;
    right: 50;
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    border-radius: 3rem;
  }
  &__cards {
    overflow: hidden;
    width: 80%;
    align-self: center;
    transform: translateY(-3rem);
  }
  &__cards-child {
    width: 100%;
    padding: .2rem;
    display: flex;
    flex-flow: row wrap;
    place-content: start;
    transition: $primary-transition;
  }
  &__card {
    display: inline-block;
    width: 31%;
    margin: .7rem;
    padding: .5rem;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0 1px 27px -3px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      cursor: pointer;
    }
    &:hover &-fig::before {
      width: 100%;
    }
    &:hover &-fig::after {
      height: 50%;
    }
    &:hover &-figcaption {
      transform: translate(0);
      opacity: 1;
    }
    &:hover &-img {
      transform: scale(1.0);
      filter: blur(3px) brightness(80%);
    }
  }
  &__card-fig {
    position: relative;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 50%;
      background: rgba($primary-color-3, 0.5);
      z-index: 2000;
      transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
      padding: .5rem 0;
      margin: 0;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 0;
      background: rgba($primary-color-3, 0.5);
      z-index: 2000;
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  &__card-figcaption {
    z-index: 2500;
    text-align: center;
    position: absolute;
    width: 100%;
    background: transparent;
    text-transform: uppercase;
    color: $white;
    opacity: 0;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &-header {
      top: 40%;
      transform: translateX(-800%);
    }
    &-sub {
      bottom: 35%;
      transform: translateY(800%);
    }
  }
  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1.1);
    backface-visibility: hidden;
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}