<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
  <title>Juniper | Awesome Character</title>
</head>

<body>
  <!--header beginning-->
  <header class="header">
    <p class="header__title">Juniper Lee</p>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="#" class="header__nav-list__item">Home</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">About</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Services</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Portfolio</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Blog</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__intro">
      <h4 class="header__intro-h4">Hello and welcome, I'm</h4>
      <h3 class="header__intro-h3">Juniper Lee</h3>
      <p class="header__intro-about">I'm a Fullstack Javascript Developer, and Software Engineer.</p>
      <a href="#" class="btn header__intro-btn">Contact me</a>
    </div>
  </header>
  <!--header ending-->


</body>

</html>