<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
  <title>Juniper | Awesome Character</title>
</head>

<body>
  <!--header beginning-->
  <header class="header">
    <p class="header__title">Juniper Lee</p>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="#" class="header__nav-list__item">Home</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">About</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Services</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Portfolio</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Blog</a>
        </li>
        <li>
          <a href="#" class="header__nav-list__item">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__intro">
      <h4 class="header__intro-h4">Hello and welcome, I'm</h4>
      <h3 class="header__intro-h3">Juniper Lee</h3>
      <p class="header__intro-about">I'm a Fullstack Javascript Developer, and Software Engineer.</p>
      <a href="#" class="btn header__intro-btn">Contact me</a>
      <a href="#" class="header__intro-mouse">&darr;</a>
    </div>
  </header>
  <!--header ending-->

  <!--about beginning-->
  <section class="about">
    <div class="about__bio">
      <h3 class="about__bio-h3">Hi there! I'm Juniper Lee</h3>
      <h4 class="about__bio-h4">I'm a Senior Javascript and Software Developer based in South Africa</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente facere doloremque a, quod fugiat tempore corrupti
        veniam tempora natus. Inventore consequuntur porro voluptas debitis voluptate reiciendis asperiores blanditiis velit.</p>
      <p class="about__bio-email">
        <span>
          <svg class="about__bio-email__icon">
            <use xlink:href="../img/sprite.svg#icon-envelop"></use>
          </svg>
        </span>Email:
        <span>juniperlee@gmail.com</span>
      </p>
      <use class="about__socials">
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-instagram2"></use>
          </svg>
        </div>
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-linkedin2"></use>
          </svg>
        </div>
        <div>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-github"></use>
          </svg>
        </div>
        <use>
          <svg class="about__socials-icon">
            <use xlink:href="../img/sprite.svg#icon-twitter2"></use>
          </svg>
        </use>
      </use>

      <a href="#" class="btn about__contact-btn">contact me</a>

      <div class="about__skills">
        <h3 class="about__skills-h4">some technologies I've used</h3>
        <div class="about__skills-list">
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-javascript"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-python"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-graphql"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-gulp"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-meteor"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-jquery"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-mysql"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-mongodb"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-nodejs"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-docker"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-git"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-rails"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-react"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-ruby"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-sass"></use>
            </svg>
          </div>
          <div class="about__skills-listitem">
            <svg class="about__skills-icon">
              <use xlink:href="../img/sprite.svg#icon-webpack"></use>
            </svg>
          </div>
        </div>
      </div>
  </section>
  <!--about ending-->

  <!--services section beginning-->
  <section class="services">
    <div class="services__content">
      <h2 class="services__header">My Services</h2>
      <div class="services__cards">
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-camera"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            images
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-brush"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            design
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-chat"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            communication
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-area-graph"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            quality delivery
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-game-controller"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            game design
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
        <div class="services__cards-card">
          <div>
            <svg class="services-icon">
              <use xlink:href="../img/sprite.svg#icon-mobile"></use>
            </svg>
          </div>
          <h5 class="services__card-header">
            responsive design
          </h5>
          <p class="services__card-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam dicta vitae neque dolore, fugit eius amet labore! Cumque
            praesentium consequatur perspiciatis nesciunt incidunt alias, consequuntur adipisci dignissimos ad possimus?
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--services section ending-->

  <!--beginning of portfolio section-->
  <section class="portfolio">
    <h3 class="portfolio__header">My Work</h3>
    <h4 class="portfolio__header-sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam repellat sequi suscipit architecto iusto consectet Maiores
      soluta ab similique incidunt! Veritatis, libero quae.</h4>
    <ul class="portfolio__categories">
      <li class="portfolio__categories-item">
        <a href="#" class="portfolio__category">all</a>
      </li>
      <li class="portfolio__categories-item">
        <a href="#" class="portfolio__category">website</a>
      </li>
      <li class="portfolio__categories-item">
        <a href="#" class="portfolio__category">game dev</a>
      </li>
      <li class="portfolio__categories-item">
        <a href="#" class="portfolio__category">design</a>
      </li>
      <li class="portfolio__categories-item">
        <a href="#" class="portfolio__category">apis</a>
      </li>
    </ul>

    <div class="portfolio__cards">
      <div class="portfolio__cards-pane1 portfolio__cards-child">
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/priscilla-du-preez-363211-unsplash.jpg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/pexels-photo-355988.jpeg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/oscar-nilsson-13605-unsplash.jpg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/hector-martinez-110928-unsplash.jpg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/m9EvdvU-crysis-wallpaper-hd.jpg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
        <div class="portfolio__card">
          <figure class="portfolio__card-fig">
            <img src="../img/recore_game_4k_5k-5120x2880.jpg" alt="" class="portfolio__card-img">
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-header">
              Project name
            </figcaption>
            <figcaption class="portfolio__card-figcaption portfolio__card-figcaption-sub">
              category
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!--ending of portfolio section-->

  <!--reviews section beginning-->
  <section class="reviews__section">
    <div class="reviews">
      <h3 class="reviews__header">What Some People I've Worked With Think.</h3>
      <h4 class="reviews__header-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum harum dolore explicabo fugiat officiis vel. Rerum
        ipsum numquam quo, nostrum vitae sit reiciendis quis.</h4>
      <div class="reviews__content reviews__item-firstrow">
        <div class="reviews__item">
          <div class="reviews__item-img">
            <img src="../img/avtar1.jpg" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
        <div class="reviews__item reviews__item-firstrow">
          <div class="reviews__item-img">
            <img src="../img/avtar2.jpg" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
        <div class="reviews__item reviews__item-firstrow">
          <div class="reviews__item-img">
            <img src="../img/avtar1.jpg" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
        <div class="reviews__item reviews__item-secondrow">
          <div class="reviews__item-img">
            <img src="../img/girl5.png" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
        <div class="reviews__item reviews__item-secondrow">
          <div class="reviews__item-img">
            <img src="../img/girl5.png" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
        <div class="reviews__item reviews__item-secondrow">
          <div class="reviews__item-img">
            <img src="../img/girl5.png" alt="">
          </div>
          <div class="reviews__item-name">
            <h4 class="reviews__item-h4">Bruce Wayne</h4>
          </div>
          <div class="reviews__item-paragraph">
            <p class="reviews__item-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aliquam dolorum qui cupiditate vel obcaecati
              ab ducimus nesciunt!
            </p>
          </div>
        </div>
      </div>
      <div class="reviews__navigation">
        <ul class="reviews__navigation-list">
          <li class="reviews__navigation-listitem"></li>
          <li class="reviews__navigation-listitem"></li>
        </ul>
      </div>
    </div>
  </section>
  <!--reviews section end-->

  <!--blog Posts section beginning-->
  <section class="blog">
    <h3 class="blog__header">Blog Posts</h3>
    <h4 class="blog__header-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rem vero eius illum maxime culpa incidunt dignissimos, exercitationem
      eum quidem. Recusandae.</h4>
    <div class="blog__cards-container">
      <div class="blog__card">
        <figure class="blog__figure">
          <img src="../img/toa-heftiba-195458-unsplash.jpg" alt="" class="blog__img">
        </figure>
        <div class="blog__card-text">
          <p class="blog__details">
            Written By
            <span class="blog__name">Juniper Lee</span>
            <span class="blog__date">12th August 2018</span>
          </p>
          <h4 class="blog__h4">Why I love Batman</h4>
          <p class="blog__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores deleniti
            dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
          <a href="#" class="blog__btn">Read</a>
        </div>
      </div>
      <div class="blog__card">
        <figure class="blog__figure">
          <img src="../img/rawpixel-191157-unsplash.jpg" alt="" class="blog__img">
        </figure>
        <div class="blog__card-text">
          <p class="blog__details">
            Written By
            <span class="blog__name">Juniper Lee</span>
            <span class="blog__date">12th August 2018</span>
          </p>
          <h4 class="blog__h4">Why I love Batman</h4>
          <p class="blog__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores deleniti
            dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
          <a href="#" class="blog__btn">Read</a>
        </div>
      </div>
      <div class="blog__card">
        <figure class="blog__figure">
          <img src="../img/annie-spratt-608001-unsplash.jpg" alt="" class="blog__img">
        </figure>
        <div class="blog__card-text">
          <p class="blog__details">
            Written By
            <span class="blog__name">Juniper Lee</span>
            <span class="blog__date">12th August 2018</span>
          </p>
          <h4 class="blog__h4">Why I love Batman</h4>
          <p class="blog__preview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque facere corporis alias vitae iure maiores deleniti
            dolor. Aliquid, eaque inventore. Quam nihil asperiores</p>
          <a href="#" class="blog__btn">Read</a>
        </div>
      </div>
    </div>
  </section>
  <!--blog Posts section ending-->
</body>

</html>