*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 112.5%;
}

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: $white;
}

::selection {
  background-color: $primary-color-3;
  color: $white;
}