*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 112.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: $white;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 35vh;
    background: $primary-color-1;
    z-index: -1
  }
}

::selection {
  background-color: $primary-color-3;
  color: $white;
}