body {
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.header {
  &__title {
    font-weight: 700;
    font-size: 120%;
  }
  &__nav-list__item {
    font-size: 68%;
    font-weight: 500;
  }
  &__intro-h3 {
    font-weight: 700;
    font-size: 350%;
  }
  &__intro-btn,
  &__intro-btn:link,
  &__intro-btn:visited {
    font-weight: 400;
    font-size: 80%;
  }
}

.about {
  font-size: 87%;
  &__bio {
    width: 50%;
    text-align: left;
  }
  &__bio-h3 {
    font-size: 170%;
    font-weight: 700
  }
  &__bio-h4 {
    font-weight: 700;
  }
  &__skills-h4 {
    font-weight: 700;
    font-size: 120%;
  }
}

.services {
  &__header {
    font-size: 190%;
    font-weight: 700;
  }
  &__card-header {
    font-weight: 700;
    font-size: 100%;
  }
  &__card-paragraph {
    font-weight: 200;
    font-size: 78%;
  }
}

.reviews {
  &__header {
    font-weight: 700;
    font-size: 160%;
  }
  &__header-sub {
    font-weight: 400;
    font-size: 90%;
  }
  &__item-name {
    font-weight: 700;
    font-size: 100%;
  }
  &__item-content {
    font-weight: 200;
    font-size: 75%;
  }
}

.portfolio {
  &__header {
    font-weight: 700;
    font-size: 160%;
  }
  &__header-sub {
    font-weight: 400;
    font-size: 90%;
  }
  &__category {
    font-weight: 200;
    font-size: 75%;
  }
  &__card-figcaption {
    &-header {
      font-weight: 500;
      font-size: 90%;
    }
    &-sub {
      font-weight: 200;
      font-size: 75%;
    }
  }
}

.blog {
  &__header {
    font-weight: 700;
    font-size: 160%;
    &-sub {
      font-weight: 400;
      font-size: 90%;
    }
  }
  &__details {
    font-size: 62%
  }
  &__name {
    font-weight: 500;
  }
  &__h4 {
    font-weight: 500;
    font-size: 100%;
  }
  &__preview {
    font-size: 78%
  }
  &__btn {
    font-size: 60%;
    font-weight: 400;
  }
}