body {
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.header {
  &__title {
    font-weight: 700;
    font-size: 120%;
    @include respond(tab-land) {
      font-size: 150%
    }
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 80%;
    }
  }
  &__nav-list__item {
    font-size: 68%;
    font-weight: 500;
    @include respond(tab-land) {
      font-size: 80%
    }
    @media only screen and (max-width: 800px) {
      font-size: 65%;
    }
    @media only screen and (max-width: 768px) {
      font-size: 60%;
    }
  }
  &__intro-h3 {
    font-weight: 700;
    font-size: 350%;
    @include respond(tab-land) {
      font-size: 500%
    }
    @media only screen and (max-width: 600px) {
      font-size: 300%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 180%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 200%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 200%;
    }
  }
  &__intro-h4 {
    @include respond(tab-land) {
      font-size: 130%
    }
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%;
    }
  }
  &__intro-about {
    @include respond(tab-land) {
      font-size: 120%
    }
    @media only screen and (max-width: 480px) {
      font-size: 65%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%;
    }
  }
  &__intro-btn,
  &__intro-btn:link,
  &__intro-btn:visited {
    font-weight: 400;
    font-size: 80%;
    @include respond(tab-land) {
      font-size: 95%
    }
    @media only screen and (max-width: 600px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 40%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 35%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 35%;
    }
  }
  &__intro-mouse,
  &__intro-mouse:link,
  &__intro-mouse:visited {
    @include respond(tab-land) {
      font-size: 150%
    }
    @media only screen and (max-width: 480px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 100%
    }
  }
}

.about {
  font-size: 87%;
  &__bio {
    @include respond(tab-land) {
      font-size: 100%
    }
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 330px) {
      font-size: 70%;
    }
  }
  &__bio-h3 {
    font-size: 170%;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 120%
    }
  }
  &__bio-h4 {
    font-weight: 700;
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%
    }
    @media only screen and (max-width: 330px) {
      font-size: 60%;
    }
  }
  &__contact-btn {
    @include respond(tab-land) {
      font-size: 80%
    }
    @media only screen and (max-width: 800px) {
      font-size: 45%
    }
    @media only screen and (max-width: 724px) {
      font-size: 40%
    }
    @media only screen and (max-width: 664px) {
      font-size: 45%
    }
    @media only screen and (max-width: 330px) {
      font-size: 45%;
    }
  }
  &__skills-h4 {
    font-weight: 700;
    font-size: 120%;
    @include respond(tab-land) {
      font-size: 100%
    }
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%
    }
  }
  &__contact-h3 {
    @media only screen and (max-width: 480px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%;
    }
  }
  &__contact-input::placeholder {
    font-weight: 400;
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%
    }
  }
  &__contact-description::placeholder {
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%
    }
  }
  &__contact-label {
    font-size: 80%;
    font-weight: 400;
    @media only screen and (max-width: 480px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 70%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 70%;
    }
  }
  &__form-btn {
    @media only screen and (max-width: 480px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 150%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 150%
    }
  }
  &__contact-btnarea {
    @media only screen and (max-width: 664px) {
      font-size: 90%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 90%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 40%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 40%;
    }
  }
}

.services {
  &__header {
    font-size: 190%;
    font-weight: 700;
    @media only screen and (max-width: 480px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 100%
    }
    @media only screen and (max-width: 360px) {
      font-size: 100%
    }
  }
  &__card-header {
    font-weight: 700;
    font-size: 100%;
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%
    }
  }
  &__card-paragraph {
    font-weight: 200;
    font-size: 78%;
    @include respond(tab-land) {
      font-size: 100%;
    }
    @media only screen and (max-width: 800px) {
      font-size: 120%;
    }
    @media only screen and (max-width: 768px) {
      font-size: 120%;
    }
    @media only screen and (max-width: 664px) {
      font-size: 110%
    }
    @media only screen and (max-width: 630px) {
      font-size: 105%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%
    }
    @media only screen and (max-width: 330px) {
      font-size: 49%;
    }
  }
}

.reviews {
  &__header {
    font-weight: 700;
    font-size: 160%;
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 80%
    }
  }
  &__header-sub {
    font-weight: 400;
    font-size: 90%;
    @media only screen and (max-width: 480px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%;
    }
  }
  &__item-name {
    font-weight: 700;
    font-size: 100%;
    @media only screen and (max-width: 330px) {
      font-size: 80%;
    }
  }
  &__item-content {
    font-weight: 200;
    font-size: 75%;
    @include respond(tab-land) {
      font-size: 100%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%
    }
  }
}

.portfolio {
  &__header {
    font-weight: 700;
    font-size: 160%;
    @media only screen and (max-width: 480px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 100%
    }
  }
  &__header-sub {
    font-weight: 400;
    font-size: 80%;
    @media only screen and (max-width: 480px) {
      font-size: 50%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 50%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 50%
    }
  }
  &__category {
    font-weight: 200;
    font-size: 75%;
    @include respond(tab-land) {
      font-size: 80%
    }
    @media only screen and (max-width: 480px) {
      font-size: 55%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 45%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 45%
    }
  }
  &__card-figcaption {
    &-header {
      font-weight: 500;
      font-size: 90%;
      @include respond(tab-land) {
        font-size: 130%
      }
      @media only screen and (max-width: 480px) {
        font-size: 70%;
      }
      @media only screen and (max-width: 384px) {
        font-size: 70%;
      }
      @media only screen and (max-width: 360px) {
        font-size: 70%
      }
    }
    &-sub {
      font-weight: 200;
      font-size: 75%;
      @include respond(tab-land) {
        font-size: 90%;
      }
      @media only screen and (max-width: 480px) {
        font-size: 60%;
      }
      @media only screen and (max-width: 384px) {
        font-size: 60%;
      }
      @media only screen and (max-width: 360px) {
        font-size: 60%
      }
    }
  }
}

.blog {
  &__header {
    font-weight: 700;
    font-size: 160%;
    @include respond(tab-land) {
      font-size: 180%
    }
    @media only screen and (max-width: 480px) {
      font-size: 90%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 90%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 90%
    }
    &-sub {
      font-weight: 400;
      font-size: 90%;
      @include respond(tab-land) {
        font-size: 120%
      }
      @media only screen and (max-width: 480px) {
        font-size: 60%;
      }
      @media only screen and (max-width: 384px) {
        font-size: 60%;
      }
      @media only screen and (max-width: 360px) {
        font-size: 60%
      }
    }
  }
  &__details {
    font-size: 62%;
    @include respond(tab-land) {
      font-size: 100%
    }
    @media only screen and (max-width: 480px) {
      font-size: 50%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 50%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 50%
    }
  }
  &__name {
    font-weight: 500;
  }
  &__h4 {
    font-weight: 500;
    font-size: 100%;
    @include respond(tab-land) {
      font-size: 120%
    }
    @media only screen and (max-width: 480px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 80%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 80%
    }
  }
  &__preview {
    font-size: 78%;
    @include respond(tab-land) {
      font-size: 150%
    }
    @media only screen and (max-width: 600px) {
      font-size: 100%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%
    }
  }
  &__btn {
    font-size: 60%;
    font-weight: 400;
    @include respond(tab-land) {
      font-size: 90%
    }
    @media only screen and (max-width: 480px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 384px) {
      font-size: 60%;
    }
    @media only screen and (max-width: 360px) {
      font-size: 60%
    }
  }
}

.header__navslider {
  &-list__item,
  &-list__item:link,
  &-link__item:visited {}
}