.btn {
  color: #fff;
  outline: none;
  background: linear-gradient(to right bottom, $primary-color-3, $primary-color-2);
  box-shadow: $btn-box-shadow;
  transition: $primary-transition;
  &:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
    background: $btn-hover-background;
    box-shadow: $btn-hover-box-shadow;
  }
}